.game {
width: 1200px;
height: 700px;
border: 2px solid;
overflow: hidden;
position: relative;
}
.scroll{
height: 700px;
width: 3600px;
background-image: url('./assets/gameBackgroundResized.jpeg');
animation: backgroundMotion 5s linear infinite;
}
@keyframes backgroundMotion {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1200px, 0, 0);
    }
}

.kitty {
width: 270px;
height: 190px;
position: absolute;
bottom: 5%;
background-image: url('./assets/myCat.gif');
}

